extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="password", name="CurrentPassword", placeholder="CurrentPassword")
            input(type="password", name="NewPassword", placeholder="New Password")
            input(type="password", name="Verify_NewPassword", placeholder="Verify New Password")
            input(type="submit", value="change Password")   