extends layouts/main

block content
    .form-container
        form(action=routes.editVideo, method="post")
            input(type="text", name="Title", placeholder="Title")
            input(type="text", name="Description", placeholder="Description")
            input(type="submit", Value="Upload Video")
        a.form-container__link(href=routes.deleteVideo) Delete Video